# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build outputs baixados localmente
*.ipa
_ipa_check/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods / Carthage (caso use no futuro)
Pods/
Carthage/Build/
