# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods / Carthage (caso use no futuro)
Pods/
Carthage/Build/
