<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "www.apple.com">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.DnV1eX.LiquidGlassKitShaders</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>LiquidGlassKitShaderResources</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
</dict>
</plist>
